<h1>Welcome to Your Public Library</h1>
<h3>
<ol>
<% @libraries.each do |library| %>
  <li>
    <%= link_to library.name, library_path(library) %><br>
    <%= library.street_address %><br>
    <%= library.city %>,
    <%= library.state %><br>
    <br>
  </li>
<% end %>
</ol>
</h3>
