<h1> Welcome to the <%= @library.name %></h1>

<h3>What would you like to do?</h3>

<h4><%= link_to "Sign in", signin_path %> to my account</h4>

<h4><%= link_to "Browse", library_books_path(@library.id) %> the catalog.</h4>

<h4>



