<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Libraries</th>
  </tr>
  <tr>
    <th><%= @book.title %></th>
    <th><%= @book.author.author_name%></th>
    <th><%= @libraries.name %></th>
  </tr>
</table>

